.fullscreenModal {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #212121b0;
  z-index: 1000;
  display: none;
  justify-content: center;
  align-items: top;
}


.x-out {
  position: absolute;
  top: 50px;
  right: 50px;
  padding: 10px;
  cursor: pointer;
}

.fullscreenModalContent {
  border: 1px solid #6b65ae;
  background: #1a1a1a;
  width: 70%;
  max-width: 650px;
  height: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  margin-top: 100px;
  padding-top: 90px;
  padding-bottom: 90px;

  & img {
    margin-bottom: 30px;
  }

  & h2 {
    margin-bottom: 50px;
    max-width: 90%;
    text-align: center;
  }
}

.fullscreenForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fullscreenInputContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 30px;

  .form-floating {
    width: 100%;
    max-width: 350px;
  }

  & input {
    width: 100%;
    height: 50px;
    border: 3px solid #6b65ae;
    background: #1a1a1a;
    color: #fff;
    font-size: 1rem;
    padding-left: 20px;
    margin-right: 20px;
    position: relative;
    margin-bottom: 20px;
  }

  & input:focus{
    background-color: #1a1a1a;
    color: $white;
  }

  & textarea {
    width: 100%;
    min-height: 150px;
    border: 3px solid #6b65ae;
    background: #1a1a1a;
    color: #fff;
    font-size: 1rem;
    padding-left: 20px;
    margin-right: 20px;
    position: relative;
    margin-bottom: 20px;
  }

  & textarea:focus{
    background-color: #1a1a1a;
    color: $white;
  }

  & label::after{
    color: $white;
  }
}

.fullScreenModalBtn {
  display: flex;
  width: 100%;
  max-width: 350px;
  justify-content: space-between;
  align-items: center;
  & p {
    margin: 0 10px 0 10px;
  }

& button {
  min-width: 150px;
}
}

@media screen and (max-width: 579px) {
  .fullscreenModalContent{
    width: 90%;
    max-width: 90%;
    padding-left: 10px;
    padding-right: 10px;
  }

  .fullScreenModalBtn{
    flex-direction: column;
    & p {
      margin: 10px 0 10px 0;
    }
  }

  .fullscreenForm{
    width: 100%;
    max-width: 100%;
    padding: 10px;
  }
}

.tags{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 0;
  & input {
    width: 75%;
    margin-right: 0;
  }
  & button {
    width: 20%;
    height: 58px;
    border: none;
    background-color: $purple;
    color: $white;
    border-radius: 25px;
  }
}

.tagContainer {
  width: 100%;
  max-width: 350px;
  display: none;
  align-items: left;
  gap: 10px;
  margin-bottom: 20px;


  & p {
    padding: 5px;
    background-color: $purple;
    color: $white;
    border-radius: 15px;
    min-width: 50px;
    text-align: center;
    position: relative;
  }

  & button {
    position: absolute;
    top: -10px;
    left: -10px;
    border: none;
    background-color: $red;
    color: $white;
    font-size: 0.8rem;
    cursor: pointer;
    padding: 0;
    margin: 0;
    border-radius: 100%;
    width: 20px;
    height: 20px;
  }
}

.imageUrlsContainer{
  width: 100%;
  max-width: 350px;
  display: none;
  align-items: left;
  gap: 10px;
  margin-bottom: 20px;
  border: 1px $purple solid;
  padding: 15px;

  & button {
    position: absolute;
    top: -10px;
    left: -10px;
    border: none;
    background-color: $red;
    color: $white;
    font-size: 0.8rem;
    cursor: pointer;
    padding: 0;
    margin: 0;
    border-radius: 100%;
    width: 20px;
    height: 20px;
  }
}



.imagePreview{
  width: 50px;
  height: 50px;
  background-position: center;
  background-size: cover;
  position: relative;
}

.avatarModalContainer{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-color: #212121b0;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & form{
    width: 80%;
  }

  & input {
    width: 100%;
    height: 50px;
    border: 3px solid #6b65ae;
    background: #1a1a1a;
    color: #fff;
    font-size: 1rem;
    padding-left: 20px;
    margin-right: 20px;
    position: relative;
    margin-bottom: 20px;
  }

  & input:focus{
    background-color: #1a1a1a;
    color: $white;
  }
}

.changeAvatar{
  display: flex;
  flex-direction: row;

  & button {
    height: 58px;
  }
}

@media screen and (max-width: 376px) {
  .changeAvatar{
    flex-direction: column;
    margin-bottom: 20px;
  }
}

.form-floating {
  position: relative;

  > .form-control,
  > .form-control-plaintext,
  > .form-select {
    height: $form-floating-height;
    min-height: $form-floating-height;
    line-height: $form-floating-line-height;
  }

  > label {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    height: 100%; // allow textareas
    padding: $form-floating-padding-y $form-floating-padding-x;
    overflow: hidden;
    text-align: start;
    text-overflow: ellipsis;
    white-space: nowrap;
    pointer-events: none;
    border: $input-border-width solid transparent; // Required for aligning label's text with the input as it affects inner box model
    transform-origin: 0 0;
    color: $white;
    @include transition($form-floating-transition);
  }

  > .form-control,
  > .form-control-plaintext {
    padding: $form-floating-padding-y $form-floating-padding-x;

    &::placeholder {
      color: transparent;
    }

    &:focus,
    &:not(:placeholder-shown) {
      padding-top: $form-floating-input-padding-t;
      padding-bottom: $form-floating-input-padding-b;
    }
    // Duplicated because `:-webkit-autofill` invalidates other selectors when grouped
    &:-webkit-autofill {
      padding-top: $form-floating-input-padding-t;
      padding-bottom: $form-floating-input-padding-b;
    }
  }

  > .form-select {
    padding-top: $form-floating-input-padding-t;
    padding-bottom: $form-floating-input-padding-b;
  }

  > .form-control:focus,
  > .form-control:not(:placeholder-shown),
  > .form-control-plaintext,
  > .form-select {
    ~ label {
      color: $white;
      transform: $form-floating-label-transform;

      &::after {
        position: absolute;
        inset: $form-floating-padding-y ($form-floating-padding-x * .5);
        z-index: -1;
        height: $form-floating-label-height;
        content: "";
        background-color: none;
        @include border-radius($input-border-radius);
      }
    }
  }
  // Duplicated because `:-webkit-autofill` invalidates other selectors when grouped
  > .form-control:-webkit-autofill {
    ~ label {
      color: rgba(var(--#{$prefix}body-color-rgb), #{$form-floating-label-opacity});
      transform: $form-floating-label-transform;
    }
  }

  > .form-control-plaintext {
    ~ label {
      border-width: $input-border-width 0; // Required to properly position label text - as explained above
    }
  }

  > :disabled ~ label,
  > .form-control:disabled ~ label { // Required for `.form-control`s because of specificity
    color: $form-floating-label-disabled-color;

    &::after {
      background-color: $input-disabled-bg;
    }
  }
}

.bidForm{
  display: flex;
  align-items: baseline;
  padding: 50px;
  width: 100%;

  & span{
    color: $purple;
    font-weight: 700;
  }

  & h1{
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 375px) {
  .bidForm{
    padding: 20px;
  }
  
}

.itemBidContainer{
  margin-top: 30px;
  width: 100%;
  & input{
    background-color: $gray-600;
    outline: none;
    border: none;
    width: 100%;
    margin-top: 10px;
    height: 45px;
    border-radius: 15px;
    padding-left: 20px;
  }

  & input:focus{
    background-color: $gray-600;
    color: $white;
  }
}

.itemBtnContainer{
  margin-top: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-id{
  color: $white;
  font-size: 0.6rem;
  margin-top: 5px;
}

.itemImg{
  width: 100%;
  height: 200px;
  background-position: center;
  background-size: cover;
  border-radius: 15px;
  margin-bottom: 20px;
}