.previewMain {
  display: flex;
  flex-direction: column;
  max-width: 950px;
  position: relative;
}

.preview-container {
  height: 600px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 50px;
}

.gallery-track {
  width: 100%;
  height: 100%;
}

.galleryContainer {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top: 5px;
  height: 200px;
}

.previewImg {
  width: 100%;
  height: 100%;
  background-color: aqua;
}

.info-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;
}

.related-content {
  gap: 10px;
}

.related-img {
  width: 100%;
  height: 200px;
  background-color: aqua;
  border-radius: 41px 41px 0 0;
  margin-bottom: 20px;
}

.related-info h4 {
  margin-bottom: 30px;
}

.related-card {
  background-color: $gray-600;
  color: $white;
  border-radius: 41px;
}

.related-info {
  min-height: 150px;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}

.related-container {
  margin-top: 200px;
}

.related-container h2 {
  margin-bottom: 20px;
}

.product-bid {
  border-radius: 41px;
  background: #343434;
  box-shadow: 6px 9px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 30px;
}

.price-info p {
  margin-bottom: 0;
}

.price-info h3 {
  color: $green;
  margin-bottom: 20px;
  margin-top: 10px;
}

.latest-bids {
  margin-top: 20px;
  max-height: 200px;
  overflow-y: hidden;
}

.whiteDivider {
  background-color: $white;
  width: 100%;
  height: 1px;
  margin-bottom: 10px;
}

.bid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
  border-bottom: 1px solid $white;
}

.seller-info {
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: $white 1px solid;
  padding-bottom: 20px;
}

.product-info span {
  color: $green;
}

.product-info h1 {
  margin-bottom: 20px;
  margin-top: 20px;
}

.seller-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: aqua;
  margin-right: 20px;
  background-size: cover;
  background-position: center;
}

.seller-info h4,
p {
  margin: 0;
}

.myBid {
  color: $green;
}
