#profileMain{
    flex-direction: column;
}

.profile-hero{
    height: 340px;
    background-image: url("https://images.unsplash.com/photo-1534254910684-68bdc1d69cf7?q=80&w=987&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    width: 100%;
    display: flex;
    justify-content: top;
    align-items: center;
    flex-direction: column;
    margin-bottom: 100px;
    position: relative;
}

.profile-hero-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    flex-direction: row;
    padding: 20px;

    & p{
        color: white;
        font-size: 1.0rem;
        font-weight: 400;
    }
    & span{
        font-weight: 600;
    }
}

.profile-hero-user{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: white;
    margin-bottom: 10px;
    background-size: cover;
    background-position: center;
    border: 2px solid $white;
}

.mysales-card{
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.mysales-img{
    width: 150px;
    background-color: white;
    border-radius: 25px 0px 0px 25px;
    background-size: cover;
    background-position: center;
}

.mysale-info-container{
    border-radius: 0px 25px 25px 0px;
background: #343434;
box-shadow: 6px 9px 4px 0px rgba(0, 0, 0, 0.25);
padding: 20px;
position: relative;
min-height: 100px;
width: 100%;
}

.deleteBtn{
    position: absolute;
    outline: none;
    border: none;
    top: 5px;
    right: 5px;
    color: $red;
    padding: 5px 10px;
    border-radius: 25px;
    & p{
        font-size: 0.7rem;
        font-weight: 600;
    }

    z-index: 1;
    background-color: transparent;
}

.mysales-content{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 10px;
    gap: 20px;
}

.mysales-header{
    margin-bottom: 20px;
}

.mysale-current-price{
    position: absolute;
    top: -15px;
    right: 10px;
    background-color: $secondary;
    color: white;
    padding: 5px 10px;
    border-radius: 0 0 0 25px;
    border-radius: 25px;
    & p{
        font-size: 0.7rem;
        font-weight: 600;
    }
}

.mysale-info{
    display: flex;
    justify-content: space-between;
    align-items: left;
    flex-direction: column;
    margin-top: 10px;
    & p{
        color: white;
        font-size: 0.8rem;
        font-weight: 400;
        margin-bottom: 20px;
    }
    & button{
        align-self: center;
        justify-self: bottom;
    }
}

@media screen and (max-width: 550px) {
    .mysales-content{
        flex-direction: column;
    }

    .mysales-card{
        display: flex;
        flex-direction: row;
    }

    .mysales-img{
        border-radius: 25px 0px 0px 25px;
    }

    .mysale-info-container{
        border-radius: 0px 25px 25px 0px;
    }
}

.myBids{
    margin-top: 50px;
}

.bidHead{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-top: 10px;
    gap: 20px;
    border-bottom: 1px solid $gray-400;
    padding-bottom: 5px;
}

.bidContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-top: 10px;
    gap: 20px;
    border-bottom: 1px solid $gray-400;
    padding-bottom: 5px;

    & p{
        font-size: 0.8rem;
        font-weight: 400;
        width: auto;
    }

    & span{
        font-size: 0.8rem;
        font-weight: 600;
    }
}

.myBidsContainer{
    margin-top: 30px;
}

.otherBid{
    color: $red;
}

